<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>43872094690-894rua2pmnur1p5l8nlnle0nif5bq4n1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.43872094690-894rua2pmnur1p5l8nlnle0nif5bq4n1</string>
	<key>API_KEY</key>
	<string>AIzaSyDtDPLTHWvfh-7DYMSKvzh8IrXRYf4N4f0</string>
	<key>GCM_SENDER_ID</key>
	<string>43872094690</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chat.flutterChat</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-d2047</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-d2047.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:43872094690:ios:7ef8143c6f9bd4fa47d1bb</string>
</dict>
</plist>